
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'DASHBOARD', teacher_dashboard_path, class: "topic-nav-left" %>
      <%= link_to 'STUDENTS', students_path, class: "nav-bar-left" %>
      <%= link_to 'TOPICS', topics_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
            <%= link_to "INSTRUCTOR: #{@teacher.name}", edit_teacher_path(@current_user), class: "profile-right" %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="teacher-splash">

        <h1 class="teacher-splash-head">TEACHER DASHBOARD</h1>
          <div>
              <% if @topic %>
                <div id= "teacher_refresh">
                  <%= render 'teacher_refresh'%>
                </div>


                <div class="topic-progress">
                  <%= link_to 'SEE PROGRESS', topic_path(@current_user), class: "pure-button teacher-button-primary"  %>
                  <%= form_for(@teacher) do |f| %>
                    <%= f.hidden_field :current_topic_id, value: nil %>
                    <div class="actions">
                        <%= f.submit "STOP TOPIC", class: "pure-button teacher-button-primary" %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="empty-topic">No topic is currently active. &nbsp;Please select a topic to begin.</div>
                <div>
                    <%= form_for(@teacher) do |f| %>
                      <%= f.collection_select(:current_topic_id, @current_user.topics, :id, :title, prompt: true) %>
                      <div class="actions">
                        <%= f.submit "CHANGE TOPIC", class: "pure-button teacher-button-primary" %>
                      </div>
                    <% end %>
                </div>
              <% end %>
          </div>

    </div>
</div>
