
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'MY PROFILE', edit_teacher_path(@current_user), class: "pure-button pure-button-primary" %>
      <%= link_to 'EDIT STUDENTS', students_path, class: "pure-button pure-button-primary" %>
      <%= link_to 'EDIT TOPICS', topics_path(@current_user), class: "pure-button pure-button-primary" %>

        <ul class="pure-menu-list">
            <%= link_to 'HOME', login_path, class: "pure-button pure-button-primary" %>
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "pure-button pure-button-primary" %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="teacher-splash">

        <h1 class="teacher-splash-head">TEACHER DASHBOARD</h1>

          <h1 class="welcome-splash-head">Welcome <%= @teacher.name %></h1>

          <%= form_for(@teacher) do |f| %>
            <%= f.label :current_topic_id %>
            <%= f.collection_select(:current_topic_id, @current_user.topics, :id, :title, prompt: true) %>
            <div class="actions">
              <%= f.submit("Update Topic") %>
            </div>
          <% end %>

          <%= form_for(@teacher) do |f| %>
            <%= f.hidden_field :current_topic_id, value: nil %>
            <div class="actions">
                <%= f.submit("Stop Topic!") %>
            </div>
          <% end %>

          <% if @topic %>
            <div id= "teacher_refresh">
                <%= render 'teacher_refresh'%>
            </div>
          <% else %>
            <h2 class="empty-topic">Please select a topic.<h2>
          <% end %>

    </div>
</div>
