<%= provide(:title, "Log in")%>
This is the new.html.erb page
<%= form_tag(login_path) do  %>

  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Log in" %>
  <select>
   <option>New Teacher? <%= link_to "Sign up now!", new_teacher_path %></option>
    <option>New Student? <%= link_to "Sign up now!", new_student_path %></option>
  </select>
    <%= link_to 'LOGOUT', logout_path, method: :delete %>

<% end %>

<!-- <p>New teacher? <%= link_to "Sign up now!", new_teacher_path %></p> -->
