<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "new-student-label" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, class: "new-student-label" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, class: "new-student-label" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :teacher_id, class: "new-student-label" %><br>
    <%= f.number_field :teacher_id %>
  </div>
  <!-- <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
