
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'DASHBOARD', teacher_dashboard_path, class: "topic-nav-left" %>
      <%= link_to 'STUDENTS', students_path, class: "nav-bar-left" %>
      <%= link_to 'TOPICS', topics_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
            <%= link_to "INSTRUCTOR: #{@student.teacher.name}", edit_teacher_path(@current_user), class: "profile-right" %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="student-splash">

        <h1 class="teacher-splash-head">UPDATE STUDENT PROFILE</h1>

          <div class="teacher-row">
            <%= form_for(@student) do |f| %>
              <%= f.label :name, class: 'teacher-edit-labels' %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email, class: 'teacher-edit-labels' %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password, class: 'teacher-edit-labels' %>
              <%= f.password_field :password, class: 'form-control' %>

          </div>
          <div>
              <%= link_to 'DELETE', @student, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button student-delete-button" %>
              <%= f.submit "SAVE CHANGES", class: "pure-button student-save-changes-button" %>

            <% end %>
          </div>
    </div>
</div>
