
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'DASHBOARD', teacher_dashboard_path, class: "topic-nav-left" %>
      <%= link_to 'STUDENTS', students_path, class: "nav-bar-left" %>
      <%= link_to 'TOPICS', topics_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="student-splash">

        <h1 class="teacher-splash-head">STUDENTS</h1>

        <div>
          <table class="student-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>

              </tr>
            </thead>

            <tbody>
              <% @students.each do |student| %>
                <tr>
                  <td class="student-list" width="20%"><%= student.name %></td>
                  <td class="student-list" width="28%"><%= student.email %></td>
                  <td class="student-list"><%= link_to 'Edit', edit_student_path(student) %></td>
                  <td class="student-list"><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= link_to 'NEW STUDENT', new_student_path, class: "pure-button topic-button-primary" %>

    </div>
</div>
