
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'DASHBOARD', teacher_dashboard_path, class: "topic-nav-left" %>
      <%= link_to 'STUDENTS', students_path, class: "nav-bar-left" %>
      <%= link_to 'TOPICS', topics_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
            <%= link_to "INSTRUCTOR: #{@current_user.name}", edit_teacher_path(@current_user), class: "profile-right" %>

        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="topic-splash">

        <h1 class="topics-splash-head">UPDATE TOPIC</h1>

          <div class="topic-row">
            <%= form_for(@topic) do |f| %>
              <%= f.label :title, class: 'topic-edit-labels' %>
              <%= f.text_field :title, class: 'form-control' %>
              <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "topics-page" %>
              <%= f.hidden_field :teacher_id, value: @current_user.id %>
          </div>
          <div class="topic-submit">
              <%= f.submit "SAVE CHANGES", class: "pure-button edit-topic-button" %>

            <% end %>
          </div>
    </div>
</div>
