<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'DASHBOARD', teacher_dashboard_path, class: "topic-nav-left" %>
      <%= link_to 'STUDENTS', students_path, class: "nav-bar-left" %>
      <%= link_to 'TOPICS', topics_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
            <%= link_to "INSTRUCTOR: #{@current_user.name}", edit_teacher_path(@current_user), class: "profile-right" %>
        </ul>
    </div>
</div>

<h1 class="topics-splash-head">TOPICS</h1>

<div class="topics-table-container">
  <table class="topics-table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td class="topics-page"><%= topic.title %></td>
          <td class="topics-page"><%= link_to edit_topic_path(topic) do %><i class="fa fa-pencil-square-o"></i><% end %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'NEW TOPIC', new_topic_path, class: "pure-button topic-button-primary" %>

</div>
<div>
  <svg id='teacher-bar-graph'></svg>
</div>

<script>
var data = <%= @current_user.all_topics.to_json.html_safe %>
  // Sample Output
  // [{topic: "TDD", average: 2.5},
  //   {topic: "Mailers", average: 3.76},
  //   {topic: "Enumerable", average: 4.9}]
</script>

<h1 class="topics-graph-title">TOPICS AVERAGE SCORES</h1>
