<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'DASHBOARD', teacher_dashboard_path, class: "topic-nav-left" %>
      <%= link_to 'STUDENTS', students_path, class: "nav-bar-left" %>
      <%= link_to 'TOPICS', topics_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
            <%= link_to "INSTRUCTOR: #{@current_user.name}", edit_teacher_path(@current_user), class: "profile-right" %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="teacher-splash">

    <h1 class="teacher-splash-head"><%= @topic.title %> Scores Over Time</h1>

    <svg id='topics-graph'></svg>

    <script>
      var data = <%= @topic.all_scores.to_json.html_safe %>

      // Sample Output
      // [{date: "1-May-12", close: 20},
      //   {date: "4-May-12", close: 30},
      //   {date: "7-May-12", close: 10}]
    </script>

  </div>
</div>
