
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'MY PROFILE', edit_teacher_path(@current_user), class: "pure-button pure-button-primary" %>
      <%= link_to 'EDIT STUDENTS', students_path, class: "pure-button pure-button-primary" %>
      <%= link_to 'EDIT TOPICS', topics_path(@current_user), class: "pure-button pure-button-primary" %>

        <ul class="pure-menu-list">
            <h1 class="teacher-nav-head">Welcome back <%= @teacher.name %>.</h1>
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-button nav-button-primary" %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="teacher-splash">

        <h1 class="teacher-splash-head">UPDATE YOUR PROFILE</h1>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(@teacher) do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.submit "Save changes", class: "btn btn-primary" %>
              <%= link_to 'Teacher Dashboard', teacher_dashboard_path, class: "pure-button pure-button-primary" %>

            <% end %>

          </div>
        </div>

    </div>
</div>
