
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <%= link_to 'DASHBOARD', teacher_dashboard_path, class: "topic-nav-left" %>
      <%= link_to 'STUDENTS', students_path, class: "nav-bar-left" %>
      <%= link_to 'TOPICS', topics_path(@current_user), class: "nav-bar-left" %>

        <ul class="pure-menu-list">
            <%= link_to 'LOGOUT', logout_path, method: :delete, class: "nav-bar-right" %>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="topic-splash">

        <h1 class="teacher-splash-head">TEACHER SIGN UP</h1>

          <div class="teacher-row">
            <%= form_for(@teacher) do |f| %>
              <%= f.label :name, class: 'topic-edit-labels' %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email, class: 'topic-edit-labels' %>
              <%= f.text_field :email, class: 'form-control' %>

              <%= f.label :password, class: 'topic-edit-labels' %>
              <%= f.password_field :password, class: 'form-control' %>
          </div>

          <div>
              <%= f.submit "SAVE TEACHER", class: "pure-button edit-teacher-button" %>
              <% end %>
          </div>
    </div>
</div>
